---
import Back from "../../assets/benefit_back.png";
import Cell from "../../assets/cell.png";
import BenefitCard from "../BenefitCard.astro";
---

<div
  class="pt-3 px-6 lg:px-0 w-full min-h-[680px] flex flex-col md:flex-row items-center justify-around md:bg-left-bottom bg-no-repeat md:bg-contain bg-auto bg-opacity-10"
  style={`background-image: url(${Back.src}); `}
>
  <!-- background-size: 80% 496px; -->
  <img src={Cell.src} alt="" class="h-[685px]" />
  <div class="flex flex-col gap-6">
    <h2 class="font-bold text-fontColor text-2xl uppercase">Benefícios do CooPartilhar</h2>
    <BenefitCard
      title="Rapidez e Eficiência"
      description="O CooPartilhar simplifica o processo de solicitação de ajuda financeira, permitindo que os cooperados recebam o suporte necessário de forma rápida e eficiente."
    />
    <BenefitCard
      title="Comunidade Solidária"
      description="Incentiva a solidariedade entre os cooperados, permitindo que membros em condições mais estáveis ofereçam suporte àqueles em necessidade."
    />
    <BenefitCard
      title="Rapidez e Eficiência"
      description="O CooPartilhar simplifica o processo de solicitação de ajuda financeira, permitindo que os cooperados recebam o suporte necessário de forma rápida e eficiente."
    />
    <BenefitCard
      title="Rapidez e Eficiência"
      description="O CooPartilhar simplifica o processo de solicitação de ajuda financeira, permitindo que os cooperados recebam o suporte necessário de forma rápida e eficiente."
    />
  </div>
</div>
