---
import Apple from "../../assets/icons/apple.svg";
import Google from "../../assets/icons/google.svg";
---

<div class="h-80 w-full flex flex-col gap-10 items-center pt-14 pb-16">
  <p class="max-w-[910px] text-xl text-fontColor text-center">
    O CooPartilhar é, portanto, uma ferramenta essencial para promover a cooperação e o apoio mútuo dentro do Banricoop,
    garantindo que todos os seus membros possam superar momentos difíceis com o respaldo de sua comunidade.
  </p>
  <div class="flex flex-row gap-6 items-center">
    <img src={Google.src} alt="Google download" />
    <img src={Apple.src} alt="Apple download" />
  </div>
</div>
