---
import CompanyIcon from "../../assets/icons/company.svg";
import HandsIcon from "../../assets/icons/hands.svg";
import UsersIcon from "../../assets/icons/users.svg";
import FeatureCard from "../FeatureCard.astro";
---

<div
  class="bg-primary min-h-80 h-auto w-full flex flex-col md:flex-row items-center justify-center px-28 md:px-4 py-12 gap-4"
>
  <FeatureCard
    title="Ajuda a Terceiros"
    description="O CooPartilhar permite que cooperados, como padrinho, solicitem ajuda para outros cooperados, denominados afilhados."
    icon={UsersIcon.src}
  />
  <FeatureCard
    title="Prestação de Contas"
    description="Para assegurar a transparência e o uso adequado dos recursos, os cooperados devem justificar a aplicação dos fundos recebidos com documentos fiscais."
    icon={CompanyIcon.src}
  />
  <FeatureCard
    title="Apadrinhamento"
    description="Cooperados apadrinham membros em situação emergencial, app facilita visualização de pedidos, permitindo escolha de apoiados."
    icon={HandsIcon.src}
  />
</div>
