---
import Banricoop from "../../assets/icons/banricoop.svg";
import Flutterando from "../../assets/icons/flutterando.svg";
import Coop from "../../assets/icons/somos_coop.svg";
---

<div class="min-h-72 w-full bg-primary items-center flex flex-col justify-center gap-8 py-20 md:py-0 px-6">
  <div class="flex flex-col md:flex-row items-center gap-32 md:gap-24">
    <a href="https://somos.coop.br/" target="_blank"><img src={Coop.src} alt="Logo somos coop" /></a>
    <a href="https://flutterando.com.br/" target="_blank"><img src={Flutterando.src} alt="Logo Flutterando" /></a>
    <a href="https://banricoop.coop.br/" target="_blank"><img src={Banricoop.src} alt="Logo BanriCoop" /></a>
  </div>

  <h1 class="font-semibold text-white text-sm text-center">
    © 2024 CNPJ: 92.935.741/0001-82 - COOPERATIVA DE ECONOMIA E CRÉDITO MÚTUO DOS EMPREGADOS DO BANRISUL
  </h1>
</div>
