---
import Mockup from "../../assets/mockup_hero.svg";
import Button from "../Button.astro";
---

<div class="lg:px-[112px] px-4 flex flex-col md:flex-row min-h-[538px] items-center justify-around">
  <div class="flex flex-col py-16 md:py-0">
    <div class="pb-12">
      <h3 class="text-primary font-bold text-2xl md:text-4xl lg:text-5xl">Conheça o app</h3>
      <h1 class="text-primary font-extrabold text-5xl md:text-6xl lg:text-7xl">CooPartilhar</h1>
    </div>

    <h3 class="text-fontColor font-semibold text-2xl pb-6">O que é o CooPartilhar?</h3>
    <p class="text-fontColor font-normal text-start max-w-[700px] text-base lg:text-xl pb-6">
      Criado para oferecer suporte financeiro ágil e eficiente, o aplicativo ajuda membros da cooperativa que enfrentam
      dificuldades devido às enchentes no Rio Grande do Sul.
    </p>
    <div class="flex flex-row justify-center md:justify-start">
      <Button title="Baixe o app" className="w-[329px] h-14" />
    </div>
  </div>

  <div>
    <img src={Mockup.src} alt="Mockup" class="" />
  </div>
</div>
