---
import Done from "../assets/icons/done.svg";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<div class="w-[592px] h-36 rounded-lg shadow-lg items-center flex flex-row p-4 gap-4 bg-white">
    <img src={Done.src} alt="Done icon" />
    <div class="flex flex-col gap-2">
        <h1 class="font-semibold text-fontColor text-xl">{title}</h1>
        <p class="text-fontColor text-sm">{description}</p>
    </div>
</div>
