---
import Logo from '../assets/logo.svg';
---
<div class="h-[64px] w-full bg-red-50 flex flex-row px-[112px] justify-between">
    <img src={Logo.src} alt="Logo coopartilhar" class="p-2">
    <div class="flex flex-row items-center gap-[32px]">
        <a href="#" class="text-fontColor text-lg font-bold">Sobre</a>
        <a href="#" class="text-fontColor text-lg font-bold ml-4">Como Funciona</a>
    </div>
</div>