---
import Logo from '../assets/logo.svg';
import Button from './Button.astro';
---
<div class="h-[64px] w-full flex flex-row px-[112px] justify-between">
    <img src={Logo.src} alt="Logo coopartilhar" class="p-2">
    <div class="flex flex-row items-center gap-[32px]">
        <a href="#" class="text-fontColor text-lg font-bold hover:text-primary">Sobre</a>
        <a href="#" class="text-fontColor text-lg font-bold ml-4 hover:text-primary">Como Funciona</a>
        <Button title='Baixe o app' >
    </div>
</div>